__pycache__/
*.py[cod]
*.sqlite3
*.log

venv/
.venv/

app/database/chroma/
app/database/pdfs/
app/database/textdb/
app/database/*.db

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.ipynb_checkpoints

.DS_Store

*.bmp
*.gif
*.jp(e)g
*.png
*.psd
*.svg
*.tif(f)

docs/

node_modules/

*.bak
*.coverage
coverage.xml
*.coveragestore
.pytest_cache/

.tox/
.nox/

*.tmp
*.temp
*.swp

.Rproj.user/
.packrat/

.mypy_cache/
dmypy.json
dmypy-cwatch.json

.pylint.d/